@font-face{
	font-family: bannerfont;
	src: url(../fonts/MF.ttf);
}
@font-face{
	font-family: nameFont;
	src: url(../fonts/CL.otf);
}

#wrap{
	width: 1044px;
	height: 100vh;
	/*border: dotted;*/
	margin: auto;
	background: #9AC6C5
}

.banner{
	width: 100%;
	height: 30px;
/*	border: solid;*/
	background: #A5E6BA;
	font-family: bannerfont;
	font-size: 20pt;
	color: #360568;
}

.name, nav{
	float: left;
	height: 100%;
	margin: auto;
}

.name{
/*	border: dotted;*/
	width: 20%;
	padding-left: 50px;
	font-weight: bold;
	letter-spacing: 7px;
/*	font-family: nameFont;*/
}

nav{
	width: 70%;
/*	border: solid;*/
}

nav ul{
	list-style: none;
	padding: 0px;
	margin: 0;
}

nav ul li{
	display: inline-block;
	margin-left: 20px;
	float: right;
}

nav ul li a{
	color: #360568;
	text-decoration: none;
}
nav ul li a:hover{
	background: #9AC6C5;
}
.home{
	background: #9AC6C5;
}
.content{
	clear: both;
/*	border: dotted;*/
}

.leftColumn, .rightColumn{
	float: left;
	margin-top: 30px;
}
.leftColumn{
	width:70%;
}
.rightColumn{
	width:30%;
}

